<%= render :partial => "layouts/admin_header" %>
<div class="row">
  <div class="span12 white-panel no-padding">
    <div class="tab-pane" id="profile">
      <div class="span5">
          <ul class="green-checks">
            <br/>
            <h2>目录</h2>
              <li><h2><a href="/users">球员管理</a></h2></li>
              <li><h2><a href="/games">发布比赛</a></h2></li>
              <li><h2><a href="/teams">球队管理</a></h2></li>
              <li><h2><a href="/sites">场地管理</a></h2></li>
          </ul>
      </div>
    </div>
  </div>
</div>