 <div class="row get-started-now">
    <div class="span12 white-panel button-text-panel">
        <div class="white-panel-content">
            <h2><%= flash[:notice] %></h2>
        </div>
    </div>
</div>