 <div class="row get-started-now">
    <div class="span12 white-panel button-text-panel">
        <div class="white-panel-content">
            <h2>30-day free trial. No credit card required.</h2>
            <a href="signup" class="btn btn-large btn-warning">联系我们</a>
        </div>
    </div>
</div>
  
<div class="row">
  <div class="span12 white-panel no-padding">
    <ul class="nav nav-tabs">
        <li><a href="#home" data-toggle="tab" class="gc-icon agency-icon"><i class="icon-fire"></i>公司简介</a></li>
        <li><a href="#profile" data-toggle="tab" class="gc-icon enterprise-icon"><i class="icon-user"></i>全体员工</a></li>
        <li><a href="#messages" data-toggle="tab" class="gc-icon higher-ed-icon"><i class="icon-home"></i>生产基地</a></li>
        <li><a href="#settings" data-toggle="tab" class="gc-icon gov-icon"><i class="icon-plus"></i>加盟代理</a></li>
    </ul> <!-- End tabs -->

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="span5">
                <h2>Get the content you need from your clients. Organised and on time.</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team and clients</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Export content directly into your CMS</li>
                    <li>Save huge amounts of time and money</li>
                </ul>

                <a href="signup" class="btn btn-warning btn-large">Get Started Now</a>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
            <div class="span5  pull-right">
                <img src="https://gathercontent.com/assets/img/homepage/bloom.jpg" class="img-tilt" />
                <p class="small-text pull-right">Bloom Agency, taming content chaos.</p>
            </div>
        </div>

        <div class="tab-pane" id="profile">
            <div class="span5">
                <img src="https://gathercontent.com/assets/img/homepage/enterprise.jpg" class="img-tilt" />
            </div>
            <div class="span5 pull-right">
                <h2>Gather content from your subject matter experts, easily.</h2>

                <ul class="green-checks">
                    <li>Collaborate and provide guidance</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Automatically send deadline reminders</li>
                    <li>Save huge amounts of time and money</li>
                </ul>

                <a href="signup" class="btn btn-warning btn-large">Get Started Now</a>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
        </div>

        <div class="tab-pane" id="messages">
            <div class="span5">
                <h2>Work with your colleagues to organise the content you need.</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team and faculty</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Track progress and get approval</li>
                    <li>Remove headaches and save time</li>
                </ul>

                <a href="signup" class="btn btn-warning btn-large">Get Started Now</a>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
            <div class="span5  pull-right">
                <img src="https://gathercontent.com/assets/img/homepage/higher-ed.jpg" class="img-tilt" />
                <p class="small-text pull-right">University of Louisville.</p>
            </div>
        </div>

        <div class="tab-pane" id="settings">
            <div class="span5">
                <img src="https://gathercontent.com/assets/img/homepage/gov.jpg" class="img-tilt" />
            </div>
            <div class="span5 pull-right">
                <h2>Work with your colleagues to organise the content you need, pain free.</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Track progress and get approval</li>
                    <li>Save time and money</li>
                </ul>

                <a href="signup" class="btn btn-warning btn-large">Get Started Now</a>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
        </div>
    </div> <!-- End .tab-content -->
</div>