<div class="row get-started-now">
    <div class="span12 white-panel button-text-panel">
        <div class="white-panel-content">
            <h2>天胡后台管理</h2>
            <!-- <a href="/home/admin %>" class="btn btn-warning btn-large">后台首页</a> -->
        </div>
    </div>
</div>